---
import List from "../components/List.astro";
import Section from "../components/Section.astro";
import Layout from '../layouts/Layout.astro';
import PriceTable from "../components/PriceTable.astro";
import Subsection from "../components/Subsection.astro";
import CommissionStatus from "../components/CommissionStatus.astro";
import Wide from "../components/Wide.astro";
import Button from "../components/Button.astro";
import LinkRow from "../components/LinkRow.astro";

const prices = {
    base: 125,
    vseeface: 75,
    complexity: 50,
    lemons_upcharge: 125,
};

const average_price = prices.base + prices.vseeface + prices.complexity;

---
<Layout title="pyon.moe" sub="bite lemons 3d commissions" curr_page="3d comms" do_bottom_nav>
    <div class="flex flex-col gap-4">
        <Wide>
            <div class="relative">
                <img class="z-0" src="/images/comms_announce_web.png" alt="commission announcement message"/>
                <a href="/commissions_3d" class="absolute top-[87%] left-[18%] bottom-[7%] right-[19%]" />
                <div class="z-10 absolute top-[16%] inset-x-[17%] max-w-sm text-xs md:text-lg text-center font-bold">
                    <CommissionStatus status="open"/>
                </div>
            </div>
        </Wide>

        <Section title="quick overview" bg_color="bg-lmn-blue">
            <div class="mt-1 px-1.5">
                all prices listed are in USD <br/>
                <PriceTable do_bold items={[
                    {price: `${prices.base}$`, thing: "- model with basic rigging"},
                    {price: `+${prices.vseeface}$`, thing: "- vseeface rigging"},
                    {price: `+${prices.complexity}$`, thing: `- complexity upcharge, starts at ${prices.complexity}$ but could be more or less`},
                ]} />
            </div>

            <div class="px-1.5">
                your 'average' vtuber design rigged for vseeface would be <b>around {average_price}$</b> <br/>
                i will do my best to finish in under <b>two months</b> <br/>
                payment method is <b>Stripe upfront</b> <br/>
            </div>

            <div class="px-1.5">
                contact info at the bottom of the page!
            </div>
        </Section>

        <Section title="info" bg_color="bg-lmn-pink">
            <Subsection title="content">
                <List style="list-disc" items={[
                    "i have a pretty specific art style and will slightly modify the design to fit that style.",
                    "i specialize in cute feminine or androgynous characters. masculine characters might not get accepted",
                    "i won't make furry characters, licensed characters, or anything sexually explicit or too graphic.",
                    "i may accept humanoid cartoon/robot characters, mild ecchi, or mild guro/body horror. so ask me about it!",
                ]}/>
            </Subsection>

            <iframe
                class="w-full aspect-video"
                src="https://www.youtube-nocookie.com/embed/TM-Wyif_W_0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
            />

            <Subsection title="offerings">
                <List style="list-disc" items={[
                    "i currently don't offer togglable poses for vseeface, 2d illustrations, or VRChat rigging. these are things i would like to offer in the future, so if it is truly a deal breaker, let me know and maybe we could work something out. it will come with an additional cost and may add considerable time to the delivery time",
                    "if you'd like a more general VRM rig instead of a vseeface rig, i can make that but the features will be limited and it will cost the same.",
                    "i'm not offering full character design and will only accept orders with visual references. the more detailed the better but a sketch with some pictures found online could suffice",
                    "i will not rig models made by someone else.",
                    "commercial use outside of streaming or content creation is handled on a case by case basis, so just ask me about it. if you're a small creator it probably won't be a big deal",
                ]}/>
            </Subsection>

            <Subsection title="process">
                <List style="list-disc" items={[
                    "commission slots are limited. orders are accepted based on how well i think i could do with the design, not necessarily first come first served.",
                    "if commission slots are full you can still send me your request but i will only get in touch when i intend to start working on it",
                    "if i'm interested in taking your order, i will talk with you a bit to understand what youre looking for, let you know how much it will cost and check you are ready to pay, and then send you a payment link",
                    "poor communication may result in cancellation of the order",
                    "the model should take under two months to complete, but there is currently no upper limit to how long it will take. im working on refining this estimate"
                ]}/>
            </Subsection>

            <Subsection title="pricing">
                <List style="list-disc" items={[
                    `<span class=\"underline\"> base model - ${prices.base}$ </span> <br/> includes .blend file and a .unitypackage file to import into Unity (you can make it do fortnite dances). basic humanoid rigging and hair/prop rigging`,
                    `<span class=\"underline\"> vseeface rigging - +${prices.vseeface}$ </span> <br/> includes .vsfavatar file. one togglable expression is included. rigs will work with either webcam or iphone tracking`,
                    "<span class=\"underline\"> complexity - +0$ and up </span> <br/> i'd like to think of the design as a whole, rather than itemizing every aspect individually. hopefully the examples can give you an idea of what the price for your design will be.",
                ]}/>
            </Subsection>

            <Subsection title="'complexity' pricing">
                <a href="/images/design_complexity_small.png">
                    <img src="/images/design_complexity_small.png" class="border-2 border-[#d8d8e8]"/>
                </a>
                <PriceTable items={[
                    {price: "0 - 50$", thing: "- simple; just pants and a tshirt"},
                    {price: "50 - 100$", thing: "- your 'average' vtuber complexity; togglable jackets or hoodies"},
                    {price: "100$", thing: "- over the top; a lot of little details"},
                ]} />
                <List style="list-disc" items={[
                    "things that add to model complexity: extra outfits, complex hair, alot of texture detail, accessories, props, kemonomimi",
                    "things that add to rig complexity: complex physics for hair or clothes, idle animations, texture swap toggles, expression toggles",
                    "there isn't really a limit to this extra cost as it relies on how many extra toggles you want",
                    "just let me know what you are looking for and we'll go from there."
                ]}/>
            </Subsection>

            <div class="px-1.5">
                as an example, the lemons model in the above video - with reasonably complex hair and accessories, two expression toggles, kitsunemimi, and hat with different textures -
                would have a complexity cost of around {prices.complexity + prices.lemons_upcharge}$ and come up to {average_price + prices.lemons_upcharge}$
                total
            </div>

            <Subsection title="after completion">
                <List style="list-disc" items={[
                    "i will help with calibration and bug fixes to the best of my ability, please don't hesitate to ask if things arent working right!",
                    "you can ask for changes or additions to the model but i may charge for them. upgrading from webcam to iphone tracking will be no extra charge",
                    "if you want to modify the model or get it rigged futher by someone else you can do that, but it's not my responsiblity to fix it if things go wrong",
                ]}/>
            </Subsection>
        </Section>

        <Section title="contact" bg_color="bg-lmn-green">
            <div class="p-1.5 bg-lmn-blood -mb-4 text-lmn-white text-center">
                please read everything on this page and the terms of service! thanks!
            </div>

            <LinkRow
                links={[
                    {
                        text: "terms of service",
                        href: "/terms_3d",
                        class_ext: ["hover:bg-lmn-blue hover:font-bold hover:text-lmn-slate -mb-2"],
                        target: "_blank"
                    },
                    /*
                    {
                        text: "privacy policy",
                        href: "/terms_3d",
                        class_ext: ["hover:bg-lmn-blue hover:font-bold hover:text-lmn-slate -mb-2"],
                        target: "_blank",
                        deactivated: true,
                    },
                    */
                ]}
            />

            <div class="px-1.5">
                <List style="list-disc" items={[
                    "you can contact me by email: bitelemons at gmail dot com",
                    "email is preferred over DM",
                    "links to twitter/twitch/etc is appreciated, but not necessary",
                    "include some visual references to give me as clear an idea of what youre looking for as possible!",
                ]}/>
            </div>

            <div class="px-1.5">
                looking forward to working with you!!!
            </div>
        </Section>

        <a href="/images/mugi_salute.png">
            <img class="drop-shadow" src="/images/mugi_salute_crop.png" />
        </a>
    </div>
</Layout>