---
import List from "../components/List.astro";
import Layout from "../layouts/Layout.astro";

// 850
// TODO make sure this list is correct
const includes = [
    "full body chibi model + rigging",
    ".vrm file (.vseeface file will be included if necessary)",
    "original .blend file",
    "2 toggleable simple expressions of your choosing",
    "hair physics",
    "basic texturing",
    "AEIOU mouth visemes",
    "blinking + winking",
    "epic Kero emote",
];

const extras = {
    t1_price: 75,
    t1: [
        "simple expression",
        "togglable accessory/prop (without phsyics)",
        "basic reference sheet",
    ],
    t2_price: 150,
    t2: [
        "animated expression",
        "accessory/prop (with phsyics)",
        "rigged kemonomimi (just the ears)",
    ],
    t3_price: 250,
    t3: [
        "'realistic' texturing",
        "alternate hairstyle",
        "rigged kemonomimi (ears + animated tail)",
    ],
    t4_price: 450,
    t4: [
        "complete outfit",
    ],
    t5_price: false,
    t5: [
        "3d animation",
        "room/environment",
        "extra poses besides tpose",
        "animated special effects",
    ],
}

const will_do = [
    "human characters (OCs)",
];

const ask_me = [
    "robot or furry characters",
    "mild guro/body horror themes i.e. blood, guts, insect, other weird horror stuff",
    "mild ecchi",
];

const will_not_do = [
    "copyrighted characters",
    "anything i deem too intense, gross, or graphic",
    "explicit sexual content or fetishes",
];

---

<Layout title="pyon.moe" sub="commission info">
    <div class="grid grid-cols-1 gap-5 justify-items-center">
        <a href="/"> go back </a>

        <span class="font-bold">
        [ commissions are currently closed ]
        </span>
        <span class="font-bold">
        [ this is a rough draft of commission pricing and subject to change ]
        </span>

        <div class="grid grid-cols-1 gap-4 w-[600px] font-serif">
            <!-- TODO use image here -->

            <p>
            i'm new to doing commissions and im still working on my artstyle and pricing.
            please be patient with me :)
            </p>

            <span class="font-bold">
            base price! 850$
            </span>

            <div>
            <span class="font-bold"> includes: </span>
            <List items={includes} />
            </div>

            <p>
            complex designs may cost more, based on my discretion
            </p>

            <div>
            <b> things i will do: </b>
            <List items={will_do} />
            </div>

            <div><b>
            ask me about it:
            </b>
            <List items={ask_me} />
            </div>

            <div><b>
            i will not do:
            </b>
            <List items={will_not_do} />
            </div>

            <!--
            <p>
            i specialize in human characters but may be down to make robot or furry characters.
            mild guro/body horror themes are okay! mild ecchi is also okay! 
            however, i will reject anything i deem too intense and will not do any sort of explicit sexual content.
            </p>
            -->

            <p>
            if youre looking for something completely inhuman or abstract, i may be down to do that too!
            pricing for that would be completely custom and wouldnt necessarily follow the prices on this page.
            if you want to be a plate of jello online, let me enable that
            </p>

            <!--TODO explain simple vs complex design-->

            <!--TODO explain simple expression-->

            <span class="font-bold">
            extras!
            </span>
            <p>
            extras are organized by tiers, with the price of each tier an estimate price.
            complexity in the modelling or rigging may add price
            </p>

            <div>
            <span class="font-bold">T1, ~{extras.t1_price}$</span>
            <List items={extras.t1} />
            </div>

            <div>
            <span class="font-bold">T2, ~{extras.t2_price}$</span>
            <List items={extras.t2} />
            </div>

            <div>
            <span class="font-bold">T3, ~{extras.t3_price}$</span>
            <List items={extras.t3} />
            </div>

            <div>
            <span class="font-bold">T4, ~{extras.t4_price}$</span>
            <List items={extras.t4} />
            </div>

            <div>
            <span class="font-bold">T5, contact me!</span>
            <List items={extras.t5} />
            </div>

            <span class="font-bold"> i want to work with you to make something epic!!!  </span>

            <p>
            if you want something special, dont be afraid to ask. i want to make really cool models and want to push my abilites.
            please be understanding if i reject your request, if it costs more, or if it takes an indefinite extra amount of time.
            i put alot of love and care into everything i do.
            just because its lopoly doesn't mean it doesnt take a ton of work to get right :)
            </p>

            <p>
            i know how to make VRM models + VSeeFace models.
            i may be willing to figure out how to make models for other programs it's a deal breaker! ask me about it!
            </p>

            <p>
            i don't currently offer VRChat models but would like to in the future...
            if this is something you //really// want i may be down to talk about it.
            </p>

            <span class="font-bold"> gritty details </span>

            <p>
            process time: 3 weeks - 1 month, barring adverse life situations.
            may take shorter but this is what i expect.
            this in not a hard limit but as i will refine this estimate over time :)
            </p>

            <p>
            i will give updates fairly frequently.
            you can request refinements and changes to make sure the model looks how you want it.
            i am pretty confident in my artistic sense though, so do not be too demanding or request difficult revisions.
            </p>

            <p>
            this commission is for a rigged 3d model to be used for streaming/vtubing.
            you can ask me if youre looking for 3d models for other uses, but there is a high chance i will reject it.
            i will not rig models made by other people.
            </p>

            <p>
            if you can, please provide concrete visual references for what youre looking for, preferably in a chibi style.
            they dont have to be really well drawn or anything but im not offering in-depth character design.
            </p>

            <p>
            3d is hard to do from scratch so i may reuse assets i have used for other models on your model i.e. kemonomimi or props.
            i will however modify them to fit your design if need be.
            </p>

            <p>
            future model updates are not included, but can be asked for and may cost extra.
            </p>

            <span class="font-bold"> i have right to reject any request or the design in full! </span>
            <!-- todo make list -->
            <p>
            model is too complex.
            VSeeFace doesnt support such things or it would be too hard.
            youre mean.
            </p>
        </div>

        <a href="/"> go back </a>
    </div>
</Layout>