---
import Button, {ButtonInfo} from "./Button.astro";

export interface Props {
    links: ButtonInfo[];
}

const {links} = Astro.props;
---

<div class="flex flex-row">
    {links.map((link: ButtonInfo)=>{
        return <Button
            deactivated={link.deactivated}
            text={link.text}
            href={link.href}
            target={link.target}
            class_ext={["flex-1"].concat(link.class_ext ?? [])}
        />
    })}
</div>